.git
.github
.venv
.mypy_cache
.pytest_cache
.vscode
docs
README.md
SECURITY.md
uv.lock

src/_
src/_deduplicator
src/_test
src/subscribers/
src/__pycache__
src/.pytest_cache
src/config.ini
**/__pycache__
**/*.pyc
